{% assign theme_layout = settings.homepage_view %}
<footer class="footer" {% if theme_layout == 'option5' or theme_layout == 'option6' %} id="footer2" {% endif %} >
  {% if settings.subcribe_letter_form_enable %}
  <div class="footer-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block-newletter collapsible text-center">
            <div class="block block-subscribe">
              <form id="newsletter-validate-detail" action="{{settings.newsletter_form_action}}" method="post">
                <div class="block-content">
                  <div class="form-subscribe-header">
                    <p>{{ 'layout.footer.newsletter_title' | t }}</p>
                  </div>
                  <div class="input-box">
                    <input type="email" placeholder="Your email adress ..." class="input-text required-entry validate-email" title="Sign up for our newsletter" id="mce-EMAIL" name="EMAIL">
                  </div>
                  <div class="actions">
                    <button class="button" title="Subscribe" type="submit">
                      <span>
                        <span>
                      {{ 'general.newsletter_form.submit' | t }}
                        </span>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="footer-color color">
    <div class="container">
      <div class="row footer-content">
      <!-- this is where the content should go -->
      <div class="col-sm-6 col-md-4">
        <img src="{{ 'indie_market_2.jpg' | asset_img_url: '384x141', crop: 'center', format: 'pjpg'}}" class="img-responsive img-rounded" alt="Organic Beard Supply"/>
        {% if settings.footer_title %}
        <br />
        <h2 class="logo-text">{{settings.footer_title }}</h2>
        {% endif %}
        {% if settings.footer_content %}
        <p>{{ settings.footer_content }}</p>
        {% endif %}
        {% if settings.footer_social_connect_enable %}
        <br />
        <ul id="ul-social-connect-footer" class="list-inline">
        	{% if settings.social_instagram_link != "" %}
            <li><a title="Instagram" href="{{settings.social_instagram_link}}" target="_blank" class="social-link instagram"><i class="fa fa-instagram"><span class="hidden">instagram</span></i></a></li>
            {% endif %}
            {% if settings.social_facebook_link != "" %}
            <li><a title="Facebook" href="{{settings.social_facebook_link}}" target="_blank" class="social-link facebook"><i class="fa fa-facebook"><span class="hidden">facebook</span></i></a></li>
            {% endif %}
            {% if settings.social_twitter_link != "" %}
            <li><a title="Twitter" href="{{ settings.social_twitter_link}}" target="_blank" class="social-link twitter"><i class="fa fa-twitter"><span class="hidden">twitter</span></i></a></li>
            {% endif %}
            {% if settings.social_pinterest_link != "" %}
            <li><a title="Pinterest" href="{{settings.social_pinterest_link}}" target="_blank" class="social-link pinterest"><i class="fa fa-pinterest"><span class="hidden">pinterest</span></i></a></li>
            {% endif %}
            {% if settings.social_google_plus_link != "" %}
            <li><a title="Google+" href="{{settings.social_google_plus_link}}" target="_blank" class="social-link google-plus"><i class="fa fa-google-plus"><span class="hidden">google_plus</span></i></a></li>
            {% endif %}
            {% if settings.social_fancy_link != "" %}
            <li><a title="Fancy" href="{{settings.social_fancy_link}}" target="_blank" class="social-link fancy"><i class="fa fa-fancy"><span class="hidden">fancy</span></i></a></li>
            {% endif %}
            {% if settings.social_youtube_link != "" %}
            <li><a title="Youtube" href="{{settings.social_youtube_link}}" target="_blank" class="social-link youtube"><i class="fa fa-youtube"><span class="hidden">youtube</span></i></a></li>
            {% endif %}
            {% if settings.social_email_link != "" %}
            <li><a title="Email" href="mailto:{{ settings.social_email_link}}" target="_blank" class="social-link email"><i class="fa fa-envelope-o"><span class="hidden">Email</span></i></a></li>
            {% endif %}
            </ul>
        {% endif %}
      </div>
        <div class="col-sm-6 col-md-8">
      {% for i in (1..3) %}
      {% capture this_link %}footer_linklist_{{i}}{% endcapture %}
      {% assign menu_link = linklists[settings[this_link]] %}
      {% if settings[this_link] != "" %}
      <div class="col-md-4 col-xs-6 footer-links">
      	<h2 class="logo-text">{{menu_link.title}}</h2>
        <ul class="list-unstyled">
          {% for link in menu_link.links %}
          <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endfor %}
        </div>
    </div>
    
  </div>
  
  </div>
  
  <div class="sub-footer">
  <div class="container">
  <div class="row">
    <!-- this is where the copyright and stuff should go will go -->
    <div class="col-xs-12">
      <p class="text-center"><small>{{ shop.name | link_to: '/' }} {{ 'now' | date: "%Y" }} - Made with <span style="color: #ff5555;">♥</span> in St. Pete</small></p>
    </div>
    </div>
  </div>
  </div>
  
  <div class="footer-container footer-color color">
    {% comment %}
    <div class="block-footer-top">
      <div class="container">
        <div class="main">
          <div class="footer">
            <div class="row fadeInUp alo-animate" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="col-md-3 col-sm-6 col-xs-12">
              <h2 class="logo-text">{{settings.footer_title }}</h2>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                {% if settings.footer_social_connect_enable %}
                  <ul id="ul-social-connect-footer" class="list-inline">
                    {% if settings.social_instagram_link != "" %}
                        <li><a title="Instagram" href="{{settings.social_instagram_link}}" target="_blank" class="social-link instagram"><i class="fa fa-instagram"><span class="hidden">instagram</span></i></a></li>
                    {% endif %}
                    {% if settings.social_facebook_link != "" %}
                      <li><a title="Facebook" href="{{settings.social_facebook_link}}" target="_blank" class="social-link facebook"><i class="fa fa-facebook"><span class="hidden">facebook</span></i></a></li>
                    {% endif %}
                    {% if settings.social_twitter_link != "" %}
                        <li><a title="Twitter" href="{{ settings.social_twitter_link}}" target="_blank" class="social-link twitter"><i class="fa fa-twitter"><span class="hidden">twitter</span></i></a></li>
                    {% endif %}
                    {% if settings.social_pinterest_link != "" %}
                      <li><a title="Pinterest" href="{{settings.social_pinterest_link}}" target="_blank" class="social-link pinterest"><i class="fa fa-pinterest"><span class="hidden">pinterest</span></i></a></li>
                    {% endif %}
                    {% if settings.social_google_plus_link != "" %}
                      <li><a title="Google+" href="{{settings.social_google_plus_link}}" target="_blank" class="social-link google-plus"><i class="fa fa-google-plus"><span class="hidden">google_plus</span></i></a></li>
                    {% endif %}
                    {% if settings.social_fancy_link != "" %}
                        <li><a title="Fancy" href="{{settings.social_fancy_link}}" target="_blank" class="social-link fancy"><i class="fa fa-fancy"><span class="hidden">fancy</span></i></a></li>
                    {% endif %}
                    {% if settings.social_youtube_link != "" %}
                        <li><a title="Youtube" href="{{settings.social_youtube_link}}" target="_blank" class="social-link youtube"><i class="fa fa-youtube"><span class="hidden">youtube</span></i></a></li>
                    {% endif %}
                    {% if settings.social_email_link != "" %}
                        <li><a title="Email" href="mailto:{{ settings.social_email_link}}" target="_blank" class="social-link email"><i class="fa fa-envelope-o"><span class="hidden">Email</span></i></a></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </div>
              {% if settings.subcribe_letter_form_enable %}
                <div class="col-md-6 col-sm-12 col-xs-12 clearboth">
                  <div class="collapsible mobile-collapsible">
                    <div class="block-newletter">
                      <div class="block block-subscribe">
                        <div class="block-title">
                          <strong><span>{{ 'layout.footer.newsletter_title' | t }}</span></strong>
                        </div>
                        <form id="newsletter-validate-detail" action="{{settings.newsletter_form_action}}" method="post">
                          <div class="block-content">
                            <div class="form-subscribe-header">
                              <p><!--{{ 'layout.footer.newsletter_title' | t }}-->Get Free Shipping</p>
                            </div>
                            <div class="input-box">
                               <input type="email" placeholder="Your email adress ..." class="input-text required-entry validate-email" title="Sign up for our newsletter" id="mce-EMAIL" name="EMAIL">
                            </div>
                            <div class="actions">
                              <button class="button" title="Subscribe" type="submit">
                                 <span><span>{{ 'general.newsletter_form.submit' | t }}</span></span></button>
                               </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>              
              {% endif %}
            </div>         
          </div>
        </div>
      </div>
    </div>
    {% endcomment %}
    {% comment%}
    <div class="block-footer-bottom">
      <div class="container">
        <div class="main">
          <div class="footer">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 fadeInUp alo-animate" data-wow-duration="1s" data-wow-delay="0.4s">
                <div class="collapsible mobile-collapsible">
                  <div class="block1 block-content-statick">
                    <ul>
                      {{ settings.footer_content }}
                    </ul>
                  </div>
                </div>
              </div>
              {% for i in (1..3) %}
                {% capture this_link %}footer_linklist_{{i}}{% endcapture %}
                {% assign menu_link = linklists[settings[this_link]] %}
                {% if settings[this_link] != "" %}
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 fadeInUp alo-animate" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="collapsible mobile-collapsible">
                      <h3 class="block-title heading">Useful Links</h3>
                      <div class="block-content block-content-statick">
                        <ul class="bullet">
                          {% for link in menu_link.links %}
                            <li><a href="{{link.url}}">{{link.title}}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>        
        </div>
      </div>
    </div>
    {% endcomment %}
    {% comment %}
    <div class="block-footer-copyright fadeInUp alo-animate" data-wow-duration="1s" data-wow-delay="0.4s">
      <div class="container">
        <div class="footer">
          <div class="main">
            <div class="row">
               <div class="links">
                <div class="block-title"><strong><span>Company</span></strong></div>
                <ul>
                  {% for link in linklists[settings.footer_bottom_line_links].links %}
                    <li><a href="{{link.url}}">{{link.title}}</a></li>
                  {% endfor %}
                </ul>
              </div>
               <address><p>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</p></address>

              {% comment %}<address>Copyright &copy; 2015  by <a title="Alothemes" href="http://alothemes.com" class="active">Alothemes.com.</a> All rights reserved.</address>
              {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endcomment %}
  </div>
</footer> 
