<header class="header" id="header2">
  <div class="header-content header-sticky">
    <div class="container">
      <div class="row">
        <div class="content-logo logo-left col-lg-1 col-md-2 col-sm-2 col-xs-12">
          <div class="header-logo">
            <span class="logo">
              {% if settings.logo_1_enable %}
                <a href="/">
                  <img src="{{ 'logo-black.svg' | asset_url}}" alt="{{shop.name}}" class="img-responsive desktop alternative" />
                  <img src="{{ 'logo-white.svg' | asset_url}}" alt="{{shop.name}}" class="img-responsive desktop" />
                  <img src="{{ 'logo-white-mobile.svg' | asset_url}}" alt="{{shop.name}}" class="img-responsive mobile" />
				  <img src="{{ 'logo-black-mobile.svg' | asset_url}}" alt="{{shop.name}}" class="img-responsive mobile alternative" />
              </a>
              {% else %}
                <a href="/">{{shop.name | upcase }}</a>
              {% endif %}
            </span>
          </div>
        </div>
        <div class="content-menu col-md-12 col-sm-12 col-xs-12">
          <div class="content-cart menu-mobile col-md-4 col-sm-4 col-xs-12">
            <!-- Mobile menu toggle button-->
            <a href="#" class="menu-toggle btn"><i class="fa fa-bars"></i></a>
            <!-- /Mobile menu toggle button-->
            <div class="header-user visible-xs-inline visible-sm-inline">
              <a href="{% if customer %} /account {% else %}/account/login {% endif %}">
                <i class="fa fa-user fa-lg fa-fw"></i>
              </a>  
            </div>
            <div class="header-search settting-switcher hidden">
              <div class="dropdown-toggle">
                  <i class="fa fa-lg fa-fw fa-search"></i>
              </div>
              <div class="display-seach dropdown-switcher">
                <form action="/search" method="get" role="search" id="search_mini_form">
                  <div class="form-search clearfix">
                    <label>{{'general.search.title' | t }}</label>
                    <button class="button" title="{{'general.search.submit' | t }}" type="submit"><span><span><i aria-hidden="true" data-icon="U" class="fs1"></i></span></span></button>
                    <input type="search" placeholder="{{ 'general.search.placeholder' | t }}" maxlength="128" class="input-text required-entry" value="" name="q" id="search" autocomplete="off">
                  </div>
                </form>
              </div>
            </div>
            <div class="miniCartWrap pull-right">
              {% include 'mini-cart' %}
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</header>