{% assign number_of_comments = article.comments_count %}

{% comment %}
  If a comment was just submitted and it has no blank fields, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count %}
{% endif %}
{% assign view_type = settings.sidebar_blog_view %}
{% assign view_value  = '' %}
{% if view_type == 'right' %}
  {% assign view_value  = view_type %}
{% endif %}

<!-- BREADCRUMBS -->
<span class="hidden-xs hidden-sm">
{% include 'breadcrumb'%}
</span>
<!-- /BREADCRUMBS -->
<!-- PAGE SECTION WITH SIDEBAR -->
<section class="page-section no-padding-top with-sidebar">
    <h2 class="hidden">sidebar</h2>
    <div class="container">
        <div class="row">
            {% unless view_type == 'none' %}
            <!-- sidebar -->
          {% comment %}  
          {% include 'sidebar-blog' %}
          {% endcomment %}
            <!-- /sidebar -->
            {% endunless %}
            <!-- content -->
            <section id="content" class="content col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2 class="hidden">content</h2>
                <article itemscope itemtype="http://schema.org/Article" class="post-wrap">
                  {%comment %}  
                  <div class="post-media embed-responsive embed-responsive-16by9">
                        {% if article.image %}
                            <img class="img-responsive" src="{{ article.image | img_url: 'grande' }}" alt="{{article.title}}"/>
                        {% endif %}
                    </div>
                  {% endcomment %}
                    <div class="post-header">                                       
                      <h1>{{ article.title}}</h1>
                      <p>Written by {{ article.author}} on {{ article.published_at | date: "%B %d, %y"}}</p>
                    </div>
                    <div itemprop="articleBody" class="post-body">
                        {{ article.excerpt_or_content }}
                    </div>
                    <div class="post-footer">
                        {% if article.tags.size > 0 %}
                            <span class="post-tags">
                              {% for tag in article.tags %}
                              <span class="label label-default">{{tag}}</span>&nbsp;
                              {% endfor %}
                            </span>
                        {% endif %}
                        {% if settings.social_sharing_blog %}
                        <div class="share_this">
                          <p>Share:</p>
                          {% include 'social-connect' %}
                      </div>
                        {% endif %}
                    </div>
                </article>
                {% if blog.comments_enabled? %}
                  <div class="fb-comments" data-href="{{ shop.secure_url }}{{ article.url }}" data-numposts="5" data-width="100%"></div>
                {% endif %}
            </section>
            <!-- /content -->
        </div>
    </div>
</section>
<!-- /PAGE SECTION WITH SIDEBAR -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=358983987786447";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>