{% layout 'theme.landing' %}
<!--{% include 'top.line.holiday' %}-->
{% include 'header.holiday' %}

<div class="jumbotron" id="holiday">
  <div class="wrapper">
    <h1>5 reasons beard oil is a great stocking stuffer.</h1>
    <p>Hint... he'll love it.</p>
    <button data-sumome-listbuilder-id="3313b923-7fea-45e7-9f2c-b3f3099e8122" class="btn btn-lg btn-success">Shop Stocking Stuffers Now</button>
  </div>
</div>
<section class="page-section our-story">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-sm-12 story-content">
          <h2>1. Fits in any stocking.</h2>
          <p class="lead">Organic Beard Supply beard oil is the perfect size for any stocking. OBS bottles are the perfect size for him to carry with him after Christmas morning.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-sm-12 story-content">
        <h2>2. Help prevent winter itch.</h2>
        <p class="lead">During the winter months skin underneath the beard can become more dry than in warmer months causing more itch. Help stop the itch with organic based beard oil.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-sm-12 story-content">
        <h2>3. Practical for months to come.</h2>
        <p class="lead">Give him relief and help him prevent itchy skin for months. He'll remember your awesome gift every time he applies his beard oil.</p>
        <br />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-sm-12 story-content well text-center">
        <button data-sumome-listbuilder-id="3313b923-7fea-45e7-9f2c-b3f3099e8122" class="btn btn-block btn-lg btn-success">Shop Stocking Stuffers Now</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-sm-12 story-content">
        <br />
        <h2>4. A scent for any season.</h2>
        <p class="lead">With holiday scents like Spice and Peppermint and summer scents like Citrus and Camper you can get him a different scent for every season.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-sm-12 story-content">
        <h2>5. Soften and strengthen his beard.</h2>
        <p class="lead">Beard oil is a great way to soften and strengthen beard hair. A softer beard isn't only good for him, it's good for those that get close to his beard as well.</p>
      </div>
    </div>
  </div>
</section>
<section class="page-section featured-products">
  <h2 class="hidden">featuresproduct</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-xs-12 text-center headline">
          <h2 class="text-center">Browse Beard Oil</h2>
          <p>Prevent dry, itchy skin and strengthening beard hair.</p>
        </div>
        {% for i in (1..4) %}
        {% capture this_collection %}home_featured_products_{{i}}{% endcapture %}
        {% capture this_limit %}home_featured_products_limit_{{i}}{% endcapture %}
		{% assign limit = settings[this_limit] %}
		{% if limit == "" %}
        	{% assign limit = 10 %}
		{% endif %}
		{% assign collection = collections[settings[this_collection]] %}
		{% if settings[this_collection] != "" %}
		<div role="tabpanel" class="tab-pane {% cycle 'active','','','' %}" id="tab_{{collection.id}}">
          <div id="crs_{{collection.handle}}" class="owl-carousel owl-theme">
            {% for fproduct in collection.products limit: limit %}
            {% for variant in fproduct.variants %}
            {% if variant.price < variant.compare_at_price %} 
            	{% assign is_sale = true %}
            	{% break %}
            {% else %}
            	{% assign is_sale = false %}
            	{% break %}
            {% endif %}
            {% endfor %}
            <div class="item" data-handle="{{fproduct.handle}}" data-price="{{fproduct.price}}" data-variant="{{fproduct.variants[0].id}}">
              <div class="product-item">
                <div class="per-product">
                  <div class="images-container img-rounded">
                    <div class="product-hover">
                      {% assign product_check = fproduct.handle %}
                      {% for new_product in collections['new-products'].products %}
                      {% if new_product.handle == product_check %}
                      <span class="sticker top-left"><span class="labelnew">{{'products.product.is_new' | t }}</span></span>
                      {% break %}
                      {% endif %}
                      {% endfor %}
                      {% if is_sale == true %} 
                      <span class="sticker top-right"><span class="labelsale">{{'products.product.is_sale' | t }}</span></span>
                      {% endif %}
                      <a title="{{fproduct.title}}" href="{{fproduct.url}}" class="overlay"></a>
                      <img alt="{{fproduct.title}}" data-src="{{ fproduct.images[0] | img_url: '373x373', format: 'pjpg' }}" class="owl-lazy img-responsive" />
                      <span class="product-img-back">
                        <img alt="{{fproduct.title}}" data-src="{% if fproduct.images[1] %} {{ fproduct.images[1] | img_url: '373x373', format: 'pjpg' }} {% else %} {{ fproduct.images[0] | img_url: '373x373', format: 'pjpg' }} {% endif %}" class="owl-lazy img-responsive" />
                      </span>
                    </div>
                    <div class="actions-no hover-box">
                      <div class="actions">
                        <button class="button btn-cart pull-left-none btn-quick-add-to-cart" title="{{'products.product.add_to_cart' | t }}"  type="submit" name="add">
                          <span><i class="icon_cart_alt"></i><span>{{'products.product.add_to_cart' | t }}</span></span>
                        </button>
                        <ul class="add-to-links pull-left-none list-unstyled">
                          <li class="link-view pull-left-none"> 
                            <a title="{{fproduct.title}}" href="{{fproduct.url}}"><i title="{{ 'products.general.quick_view' | t }}" class="fa fa-search"></i>{{ 'products.general.quick_view' | t }}</a>
                          </li>
                          {% if settings.wishlist_compare_enable %}
                          <li class="pull-left-none">
                            <a class="link-wishlist" title="{{ 'products.general.add_to_wish_list' | t }}" href="wishlist.html">
                              <i class="fa fa-heart-o"></i>{{ 'products.general.add_to_wish_list' | t }}
                            </a>
                          </li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="products-textlink clearfix">
                    <h2 class="product-name">
                      <a title="{{fproduct.title}}" href="{{fproduct.url}}">{{fproduct.title}}</a>
                    </h2>
                    <div class="price-box">
                      <span class="regular-price">
                        {% if is_sale == true %} 
                        <span class="price compare-price">{{ fproduct.compare_at_price | money }}</span>&nbsp;&nbsp;&nbsp;
                        {% endif %}
                        <span class="price">{{fproduct.price | money }}</span>                                   
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <script type="text/javascript">
          $(document).ready(function(){
            var MyCollection = $('#crs_{{collection.handle}}');
			      if (MyCollection.length) {
              MyCollection.owlCarousel({
                autoplay: false,
                loop: true,
                margin: 25,
                dots: false,
                lazyLoad : true,
                nav: true,
                navText: [
                  "<i class='fa fa-angle-left'></i>",
                  "<i class='fa fa-angle-right'></i>"
                ],
                responsive: {
                  0: {items: 1},
                  479: {items: 2},
                  768: {items: 3},
                  991: {items: 4},
                  1024: {items: 4}
                }
              });
            }
          })
        </script>
        {% endif %}
        {% endfor %}
        <div class="col-sm-6 col-sm-offset-3 text-center cta">
          <button data-sumome-listbuilder-id="3313b923-7fea-45e7-9f2c-b3f3099e8122" class="btn btn-success btn-lg btn-block">Shop Stocking Stuffers Now</button>
        </div>
      </div>
    </div>
  </div>
</section>