{% layout 'theme.landing' %}

<div class="jumbotron">
  <div class="wrapper">
    <h1>Grow it with comfort, <br class="hidden-xs" />grow it with <span style="text-decoration: underline;">purpose</span>.</h1>
    <p>Help improve mental health and reduce suicides rates amongst men.</p>
    <a href="#" class="btn btn-lg btn-primary">Learn More</a>
    <a href="/products" class="btn btn-lg btn-success">Shop With Purpose</a>
    <p><small>We will donate 10% of revenue from the month of November.</small></p>
  </div>
</div>
<section class="page-section our-story">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-sm-12 story-content">
          <h2>10% of your purchase will be donated.</h2>
          <hr />
          <p class="lead">During the month of November for every bottle of our organic based beard oil purchased, OBS will donate 10% of the revenue to Movember Foundation's <a href="https://us.movember.com/programs/mental-health" target="_blank" title="Movember Foundation - Mental Health and Suicide Prevention">mental health and suicide prevention</a>            cause.</p>
          <p class="lead">That means every bottle of beard oil purchased will help improve mental health and reduce the rate of male suicide.</p>
          <a href="#" class="btn btn-primary btn-lg">Learn More</a> <a href="/products" class="btn btn-success btn-lg">Shop With Purpose</a></div>
      </div>
    </div>
  </div>
</section>
<section class="page-section featured-products">
  <h2 class="hidden">featuresproduct</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-xs-12 text-center headline">
          <h2 class="text-center">Browse Beard Oil</h2>
          <p>Sooth dry, itchy skin and strengthen moustache and beard hair.</p>
        </div>
        {% for i in (1..4) %}
        {% capture this_collection %}home_featured_products_{{i}}{% endcapture %}
        {% capture this_limit %}home_featured_products_limit_{{i}}{% endcapture %}
		{% assign limit = settings[this_limit] %}
		{% if limit == "" %}
        	{% assign limit = 10 %}
		{% endif %}
		{% assign collection = collections[settings[this_collection]] %}
		{% if settings[this_collection] != "" %}
		<div role="tabpanel" class="tab-pane {% cycle 'active','','','' %}" id="tab_{{collection.id}}">
          <div id="crs_{{collection.handle}}" class="owl-carousel owl-theme">
            {% for fproduct in collection.products limit: limit %}
            {% for variant in fproduct.variants %}
            {% if variant.price < variant.compare_at_price %} 
            	{% assign is_sale = true %}
            	{% break %}
            {% else %}
            	{% assign is_sale = false %}
            	{% break %}
            {% endif %}
            {% endfor %}
            <div class="item" data-handle="{{fproduct.handle}}" data-price="{{fproduct.price}}" data-variant="{{fproduct.variants[0].id}}">
              <div class="product-item">
                <div class="per-product">
                  <div class="images-container img-rounded">
                    <div class="product-hover">
                      {% assign product_check = fproduct.handle %}
                      {% for new_product in collections['new-products'].products %}
                      {% if new_product.handle == product_check %}
                      <span class="sticker top-left"><span class="labelnew">{{'products.product.is_new' | t }}</span></span>
                      {% break %}
                      {% endif %}
                      {% endfor %}
                      {% if is_sale == true %} 
                      <span class="sticker top-right"><span class="labelsale">{{'products.product.is_sale' | t }}</span></span>
                      {% endif %}
                      <a title="{{fproduct.title}}" href="{{fproduct.url}}" class="overlay"></a>
                      <img alt="{{fproduct.title}}" data-src="{{ fproduct.images[0] | img_url: '373x373', format: 'pjpg' }}" class="owl-lazy img-responsive" />
                      <span class="product-img-back">
                        <img alt="{{fproduct.title}}" data-src="{% if fproduct.images[1] %} {{ fproduct.images[1] | img_url: '373x373', format: 'pjpg' }} {% else %} {{ fproduct.images[0] | img_url: '373x373', format: 'pjpg' }} {% endif %}" class="owl-lazy img-responsive" />
                      </span>
                    </div>
                    <div class="actions-no hover-box">
                      <div class="actions">
                        <button class="button btn-cart pull-left-none btn-quick-add-to-cart" title="{{'products.product.add_to_cart' | t }}"  type="submit" name="add">
                          <span><i class="icon_cart_alt"></i><span>{{'products.product.add_to_cart' | t }}</span></span>
                        </button>
                        <ul class="add-to-links pull-left-none list-unstyled">
                          <li class="link-view pull-left-none"> 
                            <a title="{{fproduct.title}}" href="{{fproduct.url}}"><i title="{{ 'products.general.quick_view' | t }}" class="fa fa-search"></i>{{ 'products.general.quick_view' | t }}</a>
                          </li>
                          {% if settings.wishlist_compare_enable %}
                          <li class="pull-left-none">
                            <a class="link-wishlist" title="{{ 'products.general.add_to_wish_list' | t }}" href="wishlist.html">
                              <i class="fa fa-heart-o"></i>{{ 'products.general.add_to_wish_list' | t }}
                            </a>
                          </li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="products-textlink clearfix">
                    <h2 class="product-name">
                      <a title="{{fproduct.title}}" href="{{fproduct.url}}">{{fproduct.title}}</a>
                    </h2>
                    <div class="price-box">
                      <span class="regular-price">
                        {% if is_sale == true %} 
                        <span class="price compare-price">{{ fproduct.compare_at_price | money }}</span>&nbsp;&nbsp;&nbsp;
                        {% endif %}
                        <span class="price">{{fproduct.price | money }}</span>                                   
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <script type="text/javascript">
          $(document).ready(function(){
            var MyCollection = $('#crs_{{collection.handle}}');
			      if (MyCollection.length) {
              MyCollection.owlCarousel({
                autoplay: false,
                loop: true,
                margin: 25,
                dots: false,
                lazyLoad : true,
                nav: true,
                navText: [
                  "<i class='fa fa-angle-left'></i>",
                  "<i class='fa fa-angle-right'></i>"
                ],
                responsive: {
                  0: {items: 1},
                  479: {items: 2},
                  768: {items: 3},
                  991: {items: 4},
                  1024: {items: 4}
                }
              });
            }
          })
        </script>
        {% endif %}
        {% endfor %}
        <div class="col-sm-6 col-sm-offset-3 text-center cta">
          <p>We are passionate about the quality of our products.</p>
          <a href="/products" class="btn btn-success btn-lg btn-block">Shop With Purpose</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section benefits">
  <div class="container">
    <div class="row visible-xs visible-sm">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h2 class="h1">Beard Oil Benefits</h2>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="media">
		  <div class="media-left pull-left">
            <i class="fa fa-fw fa-5x fa-smile-o text-warning"></i>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Soothe Dry, Ithcy Skin</h4>
            Prevent dry, itchy skin with carrier oils that mimick what your face naturally produces.
		  </div>
		</div>
        <div class="media">
		  <div class="media-left pull-left">
            <i class="fa fa-fw fa-5x fa-hand-rock-o text-success"></i>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Strengthen &amp; Soften Hair</h4>
		    Strengthen and soften your beard with a healthy blend of Organic Grapeseed, Argan, and Jojoba oils.
		  </div>
		</div>
      </div>
      <div class="col-sm-6 col-md-4 col-md-push-4">
        <div class="media">
		  <div class="media-left pull-left">
            <i class="fa fa-fw fa-5x fa-hand-peace-o text-info"></i>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Handmade With Love</h4>
		    Every batch is hand mixed, bottled, and numbered with love from Saint Petersburg, Florida.
		  </div>
		</div>
        <div class="media">
		  <div class="media-left pull-left">
            <i class="fa fa-fw fa-5x fa-heart-o text-danger"></i>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Smell Awesome</h4>
            Choose your favorite or try them all. All scents are made with food grade essential oils.
		  </div>
		</div>
      </div>
      <div class="col-sm-6 col-sm-pull-3 col-md-4 col-md-pull-4 product-image hidden-xs">
        <a href="/citrus">
          <img src="{{ 'citrus_transparent.png' | asset_img_url: '374x582' }}" class="img-responsive" alt="Citrus Organic Beard Oil" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h2 class="h1">Behind every great moustache, there's a great beard.</h2>
        <p class="lead">Behind every great brand, there's a purpose.</p>
        <p style="margin-top: 10px;">
          <a href="/products" class="btn btn-lg btn-success btn-block">Shop With Purpose</a>
        </p>
      </div>
    </div>
  </div>
</section>