{% layout none %}
<!doctype html>
<!--[if IE 9]> <html class="ie9 supports-no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html class="supports-no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_header_bg }}">

  {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}">
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
  {{ 'simple-line-icons.css' | asset_url | stylesheet_tag }}
  {{ 'elegantfont.css' | asset_url | stylesheet_tag }}
  {{ 'bootstrap-select.min.css' | asset_url | stylesheet_tag }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
  <!--[if lt IE 9]>
  {{ 'jquery-1.11.1.min.js' | asset_url | script_tag }}
  <![endif]-->
  <!--[if gte IE 9]><!-->
  {{ 'jquery-2.1.4.min.js' | asset_url | script_tag }}
  <!--<![endif]-->
  {{ content_for_header }}
</head>
<body id="home" class="wide" >
  <!-- Wrap all content -->
  <div class="wrapper">
    <!-- PAGE SECTION WITH SIDEBAR -->
    <div class="content-logo col-sm-12">
      <div class="header-logo">
        <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
          {% if settings.logo_1_enable %}
            <a href="/" itemprop="url"><img itemprop="logo" src="{{ 'logo-1.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive"></a>
          {% else %}
            <a href="/" >{{shop.name | upcase }}</a>
          {% endif %}
        </h1>
      </div>
    </div>
     {% comment %}
        Signup form
      {% endcomment %}
    <section class="page-section page-login">
      <h2 class="hidden">page</h2>
      <div class="container">
        <div class="row"> 
          <div class="title-page">
            <h2>{{ 'general.password_page.opening_soon' | t }}</h2>
          </div>
          {% comment %}
            Password message which you can edit on /admin/online_store/preferences
          {% endcomment %}
          {% unless shop.password_message == blank %}
            <p class="password-page__message">
              {{ shop.password_message }}
            </p>
          {% endunless %}
          <div class="login-left col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="password-signup-form">
              <div class="block-title">
                <h2>{{ 'general.password_page.signup_form_heading' | t }}</h2>
                 
              </div>
              <div class="block-content">
                {% form 'customer' %}
                  {% if form.posted_successfully? %}
                     <div class="form-group">
                        {{ 'general.password_page.signup_form_success' | t }}
                      </div>
                  {% else %}
                    <div class="form-creat-content">
                      <div class="form-group">
                        {{ form.errors | default_errors }}
                      </div>
                      <div class="form-group">
                        <label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}<em>*</em></label>
                        <input type="email" name="contact[email]" id="Email" class="form-control" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
                      </div>
                      <div class="form-group">
                        <button id="signup" name="signup" title="track" class="button" type="submit"><span><span>{{ 'general.password_page.signup_form_submit' | t }}</span></span></button>
                      </div>
                    </div>
                  {% endif %}
                {% endform %}
              </div>
            </div>
          </div>
          <div class="login-right col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="block-title">
              <h2>{{ 'general.password_page.login_form_heading' | t }}</h2>
            </div>
            <div class="block-content">
              <div class="form-creat-content">
                <form method="post" action="/password" id="login_form" class="storefront-password-form" accept-charset="UTF-8">
                  <input type="hidden" value="storefront_password" name="form_type">
                  <input type="hidden" name="utf8" value="✓">
                  <div class="form-group">
                  {{ form.errors | default_errors }}
                  </div>
                  <div class="form-group">
                    <label for="password">{{ 'general.password_page.login_form_password_label' | t }} *</label>
                    <input type="password" name="password" class="form-control" id="Password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                  </div>
                  <div class="form-group">
                    <button class="button" type="submit" name="commit" ><span><span>{{ 'general.password_page.password_link' | t }}</span></span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /PAGE SECTION WITH SIDEBAR -->
  </div>

  {{ 'bootstrap.min.js' | asset_url | script_tag }}
  {{ 'bootstrap-select.min.js' | asset_url | script_tag }}
  {{ 'superfish.min.js' | asset_url | script_tag }}
  {{ 'jquery.prettyPhoto.js' | asset_url | script_tag }}
  {{ 'jquery.sticky.min.js' | asset_url | script_tag }}
  {{ 'jquery.easing.min.js' | asset_url | script_tag }}
  {{ 'magicaccordion.js' | asset_url | script_tag }}
  {{ 'owl.carousel.min.js' | asset_url | script_tag }}
  {{ 'waypoints.min.js' | asset_url | script_tag }}
  {{ 'animate.js' | asset_url | script_tag }}
  {{ 'jquery.subscribe-better.js' | asset_url | script_tag }}
  {{ 'jquery-ui-1.11.1.min.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
  {{ 'theme-ajax-mail.js' | asset_url | script_tag }}
</body>
</html>